<div>
  <!-- translation: translation pipe -->
  <h1>{{ 'demo.title' | translate }}</h1>
  <label>
    {{ 'demo.select' | translate }}
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang" translate >{{ lang }}</option>
    </select>
  </label>
</div>

<div>
  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>
</div>
<!-- translation: translation pipe -->
<p>{{ 'demo.greeting' | translate:{name:'Andreas'} }}</p>

<!-- translation: directive (key as attribute) -->
<p [translate]="'demo.greeting'" [translateParams]="{name: 'Andreas'}"></p>

<!-- translation: directive (key as content of element)-->
<p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>


